 .theme--light .input-group.input-group--solo-inverted.transparent {
  box-shadow: none;

  .input-group__input {
    border: 1px solid #d7dfec;
    background-color: #ffffff;
  }

  &.input-group--focused .input-group__input {
    border: 1px solid $primary;
  }

  input {
    color: $black !important;
  }

  &.input-group--disabled .input-group__input {
    background-color: transparent !important;
  }
}

.application .theme--light.input-group.input-group--textarea:not(.input-group--full-width) .input-group__input,
.theme--light .input-group.input-group--textarea:not(.input-group--full-width) .input-group__input {
  border: 1px solid #d7dfec;
  padding: 20px 0 0 13px;

  &:hover {
    border-color: #d7dfec !important;
  }
}
.input-wrap {
  position: relative;
}
.tooltip-input {
  position: absolute;
  top: 9px;
  right: -9px;
  
}
.tooltip-icon {
  color: #9ba9c4 !important;
}